# Terraform working directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform variable files - may contain sensitive values

*.tfvars.json

# Crash logs
crash.log
crash.*.log

# Terraform plan files
*.tfplan
*.plan

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform lock file
# Keep this file in Git
# .terraform.lock.hcl

# Sensitive files
*.pem
*.key

# VS Code
.vscode/

# OS files
Thumbs.db
.DS_Store